<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Arviointi</title>
	<link rel="stylesheet" href="/stylesheets/myStyle.css">
</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.success) { %>
    <div class="alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Arviointi</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="btnAdd" href="/arviointi/add">Lisää arviointi</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Etunimi</th>
                    <th scope="col">Sukunimi</th>
                    <th scope="col">Osoite</th>
					<th scope="col">Luokkatunnus</th>
					<th scope="col">Kurssi</th>
					<th scope="col">Kurssin koodi</th>
					<th scope="col">Suorituspvm</th>
					<th scope="col">Arvosana</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].Etunimi%></td>
                    <td><%= data[i].Sukunimi%></td>
                    <td><%= data[i].Osoite%></td>
					<td><%= data[i].Luokkatunnus%></td>
					<td><%= data[i].Nimi%></td>
					<td><%= data[i].Koodi%></td>
					<td><%= data[i].Paivamaara%></td>
					<td><%= data[i].Arvosana%></td>
                    <td>
                        <a class="btnEdit" href="../arviointi/edit/<%=data[i].idArviointi%>">Muokkaa</a>                       
                        <a class="btnDelete" onclick="return alert('Oletko varma?')" href="../arviointi/delete/<%=data[i].idArviointi%>">Poista</a>                       
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">Arviointeja ei löydy!</p>
        <% } %>

        </div>
    </div>

</body>
</html>